.Experience {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  .title {
    font-weight: 600;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .container {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .tempodiv {
      width: 70%;
      margin-top: 30px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-weight: 600;
      font-size: 2em;
      color: rgba(255, 0, 0, 0.582);
      img {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .Experience {
    .title {
    }
    .container {
      .tempodiv {
        font-size: 1.5em;
        img {
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .Experience {
    .title {
    }
    .container {
      .tempodiv {
        font-size: 1.2em;
        img {
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .Experience {
    .title {
    }
    .container {
      .tempodiv {
        font-size: 1.2em;
        img {
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .Experience {
    .title {
    }
    .container {
      width: 300px;
      .tempodiv {
        height: 200px;
        width: 300px;
        font-size: 0.7em;
        img {
          width: 100px;
        }
      }
    }
  }
}
