a {
  width: 15%;
  height: 80%;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:hover {
    background: rgba(255, 255, 255, 0.274);
  }
}
