@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap");

.handShake {
  display: flex;
  align-items: center;
  flex-direction: column;
  button {
    border-radius: 50%;
    border: none;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url("handshake.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 70%;
    background-color: #fab005;
  }
  span {
    color: white;
    width: 60px;
    display: block;
    font-weight: 300;
    text-align: center;
    font-family: "Tajawal";
  }
}

@media screen and (max-width: 750px) {
  .handShake {
    button {
      border-radius: 50%;
      border: none;
      margin-top: 10px;
      width: 45px;
      height: 45px;
      cursor: pointer;
      background-image: url("pdf-file.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60%;
      background-color: #fab005;
    }
    span {
      color: white;
      width: 90px;
      display: block;
      font-weight: 300;
      text-align: center;
      font-family: "Tajawal";
      font-size: 0.9em;
    }
  }
}
